$smallmobile-width: 26.875rem;
$mediummobile-width:33.125rem;
$largemobile-width:37.5rem;
$tablet-width: 48rem;
$desktop-width: 62rem;
$desktoplarge-width: 86.375rem;


/*  430px breakpoint */
@mixin smallm {
  @media (min-width: #{$smallmobile-width}) {
    @content;
  }
}
/*  530px breakpoint */
@mixin mediumm {
  @media (min-width: #{$mediummobile-width}) {
    @content;
  }
}
/*  600px breakpoint */
@mixin largem {
  @media (min-width: #{$mediummobile-width}) {
    @content;
  }
}
/*  768px breakpoint */
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
/*  992px breakpoint */
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*  1382px breakpoint */
@mixin desktoplarge {
  @media (min-width: #{$desktoplarge-width}) {
    @content;
  }
}
