// USE THIS PAGE FOR DEFINING YOUR MIXINS


// CONTAINER EXAMPLE TO CALL MIXING @include container ($width:enter width, $max-width:enter width);
@mixin container ($width: 90%, $max-width:50em){
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
  padding: 10px;
}




// FLOAT MIXIN
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}



// GRID MIXIN
@mixin grid ($col:1fr 1fr 1fr, $gap:1rem){
  display: grid;
  grid-template-columns: $col;
  grid-gap:$gap;

}

// Supports GRID
@supports (display: grid) {
  @content;
}
