@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;

$fw-n: 400;
$fw-b: 900;

@mixin sans-serif($fs, $ls:.15em, $color:$dark-gray, $tt: uppercase, $lh:1) {
  font-size: $fs;
  letter-spacing:$ls;
  color:$color;
  text-transform: $tt;
  line-height: $lh;
  font-family:$ff-ss;
  font-weight: $fw-n;

}
